# macOS
.DS_Store

# IDE
.vscode/
.idea/

# local data
data/
*.db
*.db-*
**/*.db
**/*.db-*


# env files
.env
.env.*
!.env.example

# Logs
*.log

# Node (for later UI)
node_modules/
dist/
.vite/

# Python
.venv/
__pycache__/
*.pyc

# Java/Gradle
.gradle/
build/
out/

# C++ build outputs (common)
build/
cmake-build-*/

